<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Future Cities: Horizon scanning in urban planning</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/grayscale.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    </head>

    <body id="page-top" style="background: #161616 !important;">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#projects">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#progress">Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Future Cities</h1>
                    <h2 class="text-white mx-auto mt-2 mb-5">A horizon scanning tool to make decisions</h2>
                    <button type="button" class="btn btn-dark" disabled data-toggle="modal" data-target="#demo">Demo</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#reddit">Data</button>
                </div>
            </div>
        </header>

        <div class="modal fade bd-example-modal-lg" id="demo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    this is the demo part
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="reddit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="table-responsive">
                        <table class="table" id="reddit_data_table" data-show-header="true" data-pagination="true" data-id-field="id", data-page-size="10" data-search="true" data-toggle="table" data-striped="true" data-url="/data" data-data-type="json">
                            <thead>
                                <tr>
                                    <th data-field="source" scope="col">Source</th>
                                    <th data-field="title" scope="col">Title</th>
                                    <th data-field="content" data-formatter="contentFormatter" scope="col">Content</th>
                                    <th data-field="url" data-formatter="urlFormatter" scope="col">URL</th>
                                    <th data-field="time" scope="col">Published Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Section -->
        <section id="about" class="about-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">A policy tool for horizon scanning to improve strategic planning in urban areas</h2>
                        <p class="text-white-50">This tool will systematically collect a broad range of data to identify, assess, and cluster emerging urban issues. With the data collected we plan to structure emerging trends in different STEEP categories(social, technological, economic,ecological, and political) and index them based on their uncertainty and potential impact on urban metabolism</p>
                    </div>
                </div>
                <img src="img/data_analysis.png" class="img-fluid" alt="">
            </div>
        </section>

        <!-- Projects Section -->
        <section id="projects" class="projects-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card" style="width: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title">Scartozzi Cesare Macro</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
                                <p class="card-text">D2 graduate student from School of Public Polocy, The University of Tokyo</p>
                                <p class="card-text">Responsible for </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title">Xu Yang</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
                                <p class="card-text">D2 graduate student from School of Frontier Sciences, The University of Tokyo</p>
                                <p class="card-text">Responsible for system design and development</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="card" style="width: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title">Xiaoxiao Liu</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Team Leader</h6>
                                <p class="card-text">D1 graduate student from Schoolf of Frontier Sciences, The University of Tokyo</p>
                                <p class="card-text">Responsible for </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title">Mariko Nakagawa</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Team Member</h6>
                                <p class="card-text">M2 graduate student from School of Frontier Sciences, The University of Tokyo</p>
                                <p class="card-text">Responsible for </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>

        <section id="progress">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 bg-info">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0">Data Collection Stage</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <p>In this stage ...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 bg-info">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0">Data Process Stage</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <p>In this stage ...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 bg-danger">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase m-0">Data Analysis Stage</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <p>In this stage ...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Contact Section -->
        <section style="height: 10rem;">
        </section>
        <section id="signup" class="signup-section">
            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <a href="mailto:jasonyangshadow@yahoo.com">jasonyangshadow@yahoo.com</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-github text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Source Code</h4>
                                <hr class="my-4">
                                <div class="small text-black-50">
                                    <a href="https://github.com/jasonyangshadow/horizonscanning">https://github.com/jasonyangshadow/horizonscanning</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
            <div class="container">
                Copyright &copy; Xu Yang @2018
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/grayscale.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" charset="utf-8" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
        <script charset="utf-8">
            function contentFormatter(value){
                return value+'...'
            }
            
            function urlFormatter(value){
                return '<a target="_blank" href="'+value+'">link</a>'
            }
        </script>

    </body>

</html>
